.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}


.features {
    display: flex;
    justify-content: space-around;
    margin: 50px 20px;
}

.feature {
    background: white;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

/* Buscador */

.search-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.search-box input,
.search-box select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-box button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
