/* =======================
   NAVBAR
======================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e293b;
    padding: 15px;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 10px;
}

/* =======================
   FOOTER
======================= */
.footer {
    background: #0f172a;
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}