<footer class="footer">
    <div class="footer-content">
        <div class="footer-info">
            <h3 class="footer-title">TalentoHub (Grupo 1)</h3>
            <p>Conectando a profesionales excepcionales con las empresas más innovadoras.</p>
        </div>
        <div class="footer-links">
            <h4>Enlaces Útiles</h4>
            <a id="footerContact" href="#">Soporte y Contacto</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Política de Privacidad</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2026 Sistema de Reclutamiento GRUPO 1. Proyecto de Construcción de Software - Ingeniería de Sistemas.</p>
    </div>
</footer>